@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .hamburger {
  cursor: pointer;
  user-select: none;
  background: none;
  outline: none;
  display: block;
  position: relative;
  border: none;
  z-index: 1;
  appearance: none;
}

.hamburger:hover span:nth-child(2) {
  background-color: var(--color-accent);
  transform: translateX(8px);
}

.hamburger.active span:nth-child(1) {
  transform: translate(2px, 0px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
  transform: translate(0px, 3px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: var(--color-accent);
}

.hamburger span {
  background-color: var(--color-light);
  width: 24px;
  height: 2px;
  display: block;
  position: relative;
  margin-bottom: 5px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
} */
footer{
  @apply  font-sans bg-gradient-to-br from-slate-800 via-black
}
.e_footer {
  @apply text-slate-400 leading-relaxed ;

}
.footer_sections1 h3,
.footer_sections h3,
.f_contact h3 {
  @apply text-slate-200 text-[14px] font-normal
}

.footer_sections1,
.footer_sections,
.f_contact {
  @apply max-w-[28rem] text-[13px] font-medium grid ;
}
.c_footer {
  @apply pt-6;
}
.text {
  @apply text-[13px] font-medium;
}
